<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="<%- assets %>/vue.css" />
    <link rel="stylesheet" href="<%- assets %>/prism.css" />
  </head>
  <body>
    <%- markdown %>
  </body>
</html>
